<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Wardrobe Item</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
    <div class="nav-links">
        <a href="{{ url_for('manage_wardrobe') }}">Back to Wardrobe</a>
    </div>

    <h2>Edit Wardrobe Item</h2>

    <!-- Edit Wardrobe Item Form -->
    <div class="recommendations-module">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">{{ form.name.label }} {{ form.name() }}</div>
            <div class="form-group">{{ form.category.label }} {{ form.category() }}</div>
            <div class="form-group">
                Temperature Ranges:
                {% for subfield in form.temperature_ranges %}
                <label>{{ subfield }} {{ subfield.label.text }}</label>
                {% endfor %}
            </div>
            <div class="form-group">{{ form.precipitation_tag.label }} {{ form.precipitation_tag() }}</div>
            <div class="form-group">{{ form.wind_protection_tag.label }} {{ form.wind_protection_tag() }}</div>
            <div class="form-group">{{ form.uv_protection_tag.label }} {{ form.uv_protection_tag() }}</div>
            <div class="form-group">{{ form.layer_type.label }} {{ form.layer_type() }}</div>
            <div class="form-group">{{ form.setting.label }} {{ form.setting() }}</div>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>

</html>