<!DOCTYPE html>

<html lang="en">

<head>
    <title> User Registration </title>
    <meta name="description" content="This is a webpage to accept user registration of their username and password">
    <meta name="author" content="Yu Xu">
    <meta charset="UTF-8">
</head>

<body>
    <h1>Sign up</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        <p> {{ form.username.label }} {{ form.username() }} ({{ form.username.description }})</p>
        <p> {{ form.password.label }} {{ form.password() }} ({{ form.password.description }})</p>

        <h2>Profile Creation</h2>

        <p> {{ form.age.label }} {{ form.age() }} {{ form.gender.label }} {{ form.gender() }} </p>
        <p> {{ form.city.label }} {{ form.city() }} {{ form.country.label }} {{ form.country()}}</p>
        <p> {{ form.sense_temp.label }} {{ form.sense_temp() }} </p>
        <p> {{ form.sense_light.label }} {{ form.sense_light() }} </p>
        <p> {{ form.sense_humid.label }} {{ form.sense_humid() }} </p>
        <p> {{ form.allegies.label }} {{ form.allegies() }} </p>
        <p> {{ form.asthma.label }} {{ form.asthma() }} </p>
        <p> {{ form.other.label }} {{ form.other() }} </p>

        <p>{{ form.submit() }}</p>
    </form>

</body>

</html>