<!DOCTYPE html>

<html lang="en">

<head>
    <title> User Registration </title>
    <meta name="description" content="This is a webpage to accept user registration of their username and password">
    <meta name="author" content="Yu Xu">
    <meta charset="UTF-8">
</head>

<body>
    <h1>Sign up</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        <p> {{ form.username.label }} {{ form.username() }} ({{ form.username.description }})</p>
        <p> {{ form.password.label }} {{ form.password() }} ({{ form.password.description }})</p>

        <h2>Profile Creation</h2>

        <p> {{ form.age.label }} {{ form.age() }} {{ form.gender.label }} {{ form.gender() }} </p>
        <h4> Choose one form of location to enter: </h4>
        <p> {{ form.location_city.label }} {{ form.location_city() }} </p>
        <p> {{ form.location_zip.label }} {{ form.location_zip() }} </p>
        <p> {{ form.location_latitude.label }} {{ form.location_latitude() }},
            {{ form.location_longitude.label }} {{ form.location_longitude() }} </p>
        <p> {{ form.comfort_level.label }} {{ form.comfort_level() }} </p>

        <p>{{ form.submit() }}</p>
    </form>

</body>

</html>