<!DOCTYPE html>

<html lang="en">

<head>
    <title> User Registration </title>
    <meta name="description" content="This is a webpage to accept user registration of their username and password">
    <meta name="author" content="Yu Xu">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css">

</head>

<body>
    <h1>Sign up</h1>

    <!-- Sign up Form -->
    <div class="recommendations-module">
        <form method="POST">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{ form.username.label }} {{ form.username() }}
                <small>({{ form.username.description }})</small>
            </div>
            <div class="form-group">
                {{ form.password.label }} {{ form.password() }}
                <small>({{ form.password.description }})</small>
            </div>

            <h2>Profile Creation</h2>

            <div class="form-group">
                {{ form.age.label }} {{ form.age() }}
                {{ form.gender.label }} {{ form.gender() }}
            </div>

            <h4>Choose one form of location to enter:</h4>
            <div class="form-group">{{ form.location_city.label }} {{ form.location_city() }}</div>
            <div class="form-group">{{ form.location_zip.label }} {{ form.location_zip() }}</div>
            <div class="form-group">
                {{ form.location_latitude.label }} {{ form.location_latitude() }}
                {{ form.location_longitude.label }} {{ form.location_longitude() }}
            </div>
            <div class="form-group">{{ form.comfort_level.label }} {{ form.comfort_level() }}</div>

            <button type="submit">{{ form.submit.label }}</button>
        </form>
    </div>
</body>

</html>